
/* GENERAL--------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.cstm-btn {
  border-color: white;
  padding: 3px 10px;
  margin-left: 13px;
}

a {
  text-decoration: none;
}


/* ---------------------------------------------------- */

/* HEADER---------------------------------------------- */


header{
  padding: 10px 0;
  height: 65px;
 }
 
header .nav img {
  width: 40px;
}

.custom-search-container {
  width: 100%;
  height: 40px;
}

input[type="search"] {
  outline: none;
}

.custom-search-container input::placeholder {
  font-size: 0.75rem;
}

.nav {
  height: 90px;
  width: 100%;
}



.dropdown-toggle::after {
    display: none;
}

.dropdown .fa-bell {
  color: goldenrod;
  font-size: 1.1rem;
}

.custom-drop button {
  background-color: transparent;
  border: none;
}

header .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #001632;
  display: none;
}

.right_nav>a>i {
  color:#646161;
  margin: 0 10px;
  display: none;
  font-size: 0.9rem;
}

/* ---------------------------------------------------- */


/* MAIN---------------------------------------------- */
.main_wrapper {
  height: calc(100vh - 65px);
}


/* sidebar left */

.side_bar {
  width: 65px;
  background-color: #001632f0;
}

.blu-mask {
  
  background-image: url(../img/sidebar-bg.png);
}

.blu-mask span {
  display: none;
}


.side_bar a:hover {
  background-color: rgba(255, 255, 255, 0.512);
}

/* main-nav */

.main_nav {
  flex-direction: column;
  background-color: #1b72e8;
  padding: 20px 10px;
}




/* main content */

.main_content {
  width:calc(100% - 65px) ;
}


.next-classes {
  width: 100% !important;
}

.next-classes td {
  width: 120px;
}

.next-classes tr td:nth-child(4),
.next-classes tr td:nth-child(3) {
  width: 80px;
}

.next-classes td i {
  font-size: 0.9rem; 
}


.next-classes tr td {
  vertical-align: middle;
  text-align: center;
}


.next-classes table img {
  width: 27px;
}

.central_section .card h2 {
  font-size: 1.4rem ;
}

/* colors palette----- */

._w {
  color: white;
}

._b {
  color: #2b2f32;
}

._bw {
  background-color: white;
}

._bgrey {
  background-color: #e5e5e5;
}

._db {
  background-color: #165bba !important;
}

table th,
table td,
.central_section h2,
.faq .accordion-button,
.faq .accordion-body,
.todo_list label,
.user_graph h5,
.user_graph p,
.user_graph li{
  color: #3e3f41 !important;
}

.badge._db:hover {
  background-color: #0f4188 !important;
}


/* ---------------------------------------------------- */



@media screen and (min-width:992px) {

  .side_bar {
  width: 150px;
}

.main_content {
  width:calc(100% - 150px) ;
}

header .right_nav>a>i {
  display: block;
}


header .logo {
  display: block;
}


.blu-mask span {
  display: inline-block;
  padding-left: 13px;
}


.blu-mask a:last-child {
  display: none;
}

.main_nav {
  flex-direction: row;
  
}



.main_nav>div {
  order: 1;
}
.main_nav>div:first-child {
  order: 2;
}


.canvas_custom {
  width: 50% !important;
}

}


