/* DEBUG----------------------------------------------- */


.debug {
  border: 1px solid black;
  background-color: brown;
}

.debug2 {
  border: 1px solid black;
  background-color: green;
}


.debug3 {
  border: 1px solid black;
  background-color: blue;
}

.debug4 {
  background-color: gold;
  border: 1px solid black;
  height: 1000px;
}

.debug5 {
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px 0;
  background-color: rgba(245, 222, 179, 0.475);
  height: 450px;
  width: 500px;
  text-align: center;
  
}

.debug6 {
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px 0;
  background-color: goldenrod;
  height: 200px;
  width: 350px;
  text-align: center;
  
}

.debug5 h1 {
  line-height: 420px;
}



/* ---------------------------------------------------- */

/* GENERAL--------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
}
._w {
  color: white;
}

._b {
  color: #2b2f32;
}

._bw {
  background-color: white;
}

._bgrey {
  background-color: #e5e5e5;
}


._db {
  background-color: #165bba !important;
}

.cstm-btn {
  border-color: white;
  padding: 3px 10px;
  margin-left: 13px;
}


/* ---------------------------------------------------- */

/* HEADER---------------------------------------------- */


header{
  padding: 10px 0;
 }
 
header .nav img {
  width: 40px;
}

.custom-search-container {
  width: 100%;
  height: 40px;
}

input[type="search"] {
  outline: none;
}

.custom-search-container input::placeholder {
  font-size: 0.75rem;
}

.nav {
  height: 90px;
  width: 100%;
}



.dropdown-toggle::after {
    display: none;
}

.dropdown .fa-bell {
  color: goldenrod;
  font-size: 1.1rem;
}

.custom-drop button {
  background-color: transparent;
  border: none;
}

header .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #001632;
  display: none;
}

.right_nav>a>i {
  color:#646161;
  margin: 0 10px;
  display: none;
  font-size: 0.9rem;
}

/* ---------------------------------------------------- */


/* MAIN---------------------------------------------- */
.main_wrapper {
  height: calc(100vh - 80px);
}


/* sidebar left */

.side_bar {
  width: 65px;
  background-color: #001632f0;
}

.blu-mask {
  
  background-image: url(../img/sidebar-bg.png);
}

.blu-mask span {
  display: none;
}

/* main-nav */

.main_nav {
  flex-direction: column;
  background-color: #1b72e8;
  padding: 20px 10px;
}




/* main content */

.main_content {
  width:calc(100% - 65px) ;
}


.next-classes {
  width: 100% !important;
}

.next-classes td {
  width: 120px;
}
.next-classes tr td:nth-child(4),
.next-classes tr td:nth-child(3) {
  width: 80px;
}

.next-classes td i {
  font-size: 0.9rem;
 
}


.next-classes table img {
  width: 27px;
}


/* ---------------------------------------------------- */



@media screen and (min-width:992px) {

  .side_bar {
  width: 150px;
}

.main_content {
  width:calc(100% - 150px) ;
}

header .right_nav>a>i {
  display: block;
}


header .logo {
  display: block;
}


.blu-mask span {
  display: inline-block;
  padding-left: 13px;
}


.blu-mask a:last-child {
  display: none;
}

.main_nav {
  flex-direction: row;
  
}



.main_nav>div {
  order: 1;
}
.main_nav>div:first-child {
  order: 2;
}


.canvas_custom {
  width: 50% !important;
}

}


